In [4]:
import pandas as pd
import numpy as np

In [6]:
csv = "adult.data.csv"
df = pd.read_csv(csv)

In [27]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
df.groupby("race")["race"].count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [94]:
df[df["sex"] == "Male"]["age"].mean().round(2)

39.43

In [25]:
((df["education"] == "Bachelors").sum() * 100 / df["education"].count()).round(2)

16.45

In [30]:
adv_educ = df["education"].isin(["Bachelors", "Masters", "Doctorate"])

In [38]:
((df[adv_educ]["salary"] == ">50K").sum() * 100 / adv_educ.sum()).round(2)

46.54

In [43]:
min_work_hours = df["hours-per-week"].min()

In [46]:
min_hours = (df["hours-per-week"] == min_work_hours)

In [48]:
min_hours.sum()

20

In [51]:
((df[min_hours]["salary"] == ">50K").sum() * 100 / min_hours.sum())

10.0

In [70]:
overall_count = df["education"].count()

In [104]:
country = df.groupby("native-country")["salary"].count()
country_50k = df[df["salary"] == ">50K"].groupby("native-country")["salary"].count()

percentages = (country_50k / country)

percentages.idxmax()

'Iran'

In [74]:
country = df.groupby("native-country")["salary"].count()
highest_earning_country = country.idxmax()
highest_earning_country_percentage = (country.max() * 100 / overall_count).round(2)

In [77]:
print(highest_earning_country, " -> ", highest_earning_country_percentage)

United-States  ->  89.59

In [91]:
    indians = df[df["native-country"] == "India"]
    indians[indians["salary"] == ">50K"].groupby("occupation")["occupation"].count().idxmax()

occupation
Adm-clerical         1
Exec-managerial      8
Other-service        2
Prof-specialty      25
Sales                1
Tech-support         2
Transport-moving     1
Name: occupation, dtype: int64